<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	version="3.0">

	<welcome-file-list>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>

	<servlet>
		<servlet-name>AtmosphereServlet</servlet-name>
		<servlet-class>org.atmosphere.cpr.AtmosphereServlet</servlet-class>
		<load-on-startup>0</load-on-startup>
		<async-supported>true</async-supported>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>AtmosphereServlet</servlet-name>
		<url-pattern>/chat/*</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>RegistrationController</servlet-name>
		<servlet-class>RegistrationController</servlet-class>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>RegistrationController</servlet-name>
		<url-pattern>/registration.do</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>LoginController</servlet-name>
		<servlet-class>LoginController</servlet-class>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>LoginController</servlet-name>
		<url-pattern>/login.do</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>ChatRoomController</servlet-name>
		<servlet-class>ChatRoomController</servlet-class>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>ChatRoomController</servlet-name>
		<url-pattern>/chatroomRegister.do</url-pattern>
	</servlet-mapping>
	
	
</web-app>